name: Update crackmes daily

on:
  schedule:
    - cron: '0 0 * * *'  # Daily at midnight UTC
  workflow_dispatch:

jobs:
  daily-check:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH
    - name: Cache uv dependencies
      uses: actions/cache@v4
      with:
        path: |
          .venv
          ~/.cache/uv
        key: ${{ runner.os }}-uv-${{ hashFiles('**/uv.lock') }}
        restore-keys: |
          ${{ runner.os }}-uv-        
    - name: Sync dependencies with uv
      run: uv sync

    - name: Run scraper script
      run: |
        uv run scraper.py --dump-htmls --extract-challs
    - name: Commit and push if changed
      run: |
        # source: https://blog.csdn.net/qq_43684791/article/details/141333476 (Thanks!)
        diff_func="walk(if type == \"array\" then sort else . end) | .challs[]"

        if ! diff \
          <(jq -S "$diff_func" "dumps/challs.min.json") \
          <(jq -S "$diff_func" "challs.min.json") > /dev/null; then

          echo "Changes detected."
          
          mv dumps/challs.min.json .
          echo "Successfully moved challs.min.json to root"
          
          echo "Pushing New Changes."
          git config --local user.name 'github-actions[bot]'
          git config --local user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add challs.min.json
          git commit -m "chore: update challs.min.json [automated]"
          git push
        else
          echo "No changes detected"
        fi
